backend/node_modules/
frontend/node_modules/
frontend/Read me/


frontend/*.bat
frontend/*.md


backend/*.bat
backend/*.md

# TypeScript build info
frontend/tsconfig.tsbuildinfo
backend/tsconfig.tsbuildinfo

# Next.js build output
frontend/.next/
frontend/out/
.playwright-mcp/
.playwright-mcp/
